body {
    padding: 0;
    margin: 0;
    background-color: hsl(204,43%, 93%);
}

.container {
    width: 50%;
    margin: auto;
}

.main {
    background-color: white;
    margin: 0;
    padding: 20px;
}

.twin_1 {
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    padding: 20px;
}

.twin_2 {
    background-color:  hsl(179, 62%, 43%, 0.673);
    width: 50%;
    padding: 20px;
}

.wrapper {
    display: flex;
}

.attribution{
    text-align: center;
    padding: 20px;
}
@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .twin_1 .twin_2 {
        width: 100%;
    }

    .container {
        width: 90%;
    }
}

@media (min-width: 760px) and (max-width: 850px) {
    .container{
        width: 100%;
    }
}